<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64266926288-i5bi7vlr49hkgl4t8s0m678rasmqp4sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64266926288-i5bi7vlr49hkgl4t8s0m678rasmqp4sv</string>
	<key>API_KEY</key>
	<string>AIzaSyAixUSWHUa4eyM4Fp9ZsUmMOjFK2YNFEQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>64266926288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saran.GasApp</string>
	<key>PROJECT_ID</key>
	<string>gasapp-c8f7b</string>
	<key>STORAGE_BUCKET</key>
	<string>gasapp-c8f7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64266926288:ios:4da428977303816518c6d5</string>
</dict>
</plist>